@model IEnumerable<EIMS.Models.SubjectInfoViewModel>

@{
    ViewBag.Title = "Subjects";
}

<h2>Subjects</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="scrollTable">
    <div class="row">
        
        <div class="col-md-offset-1 col-md-3"><strong>@Html.DisplayNameFor(model => model.Name)</strong></div>
        <div class="col-md-4"><strong>Options</strong></div>
    </div>
     
   
    
        @Html.Partial("GetSubjectList_Partial")
</div>

    @section Scripts {
        @Scripts.Render("~/Scripts/SubjectInfinityScroll.js")
    }
