@model EIMS.Models.CourseViewModel

@foreach (var item in Model.Subjects)
{
    <div class="container">
        <div class="well">
            <span class="col-md-2">@Html.DisplayFor(model => item.subjectName)</span>
            <span class="col-md-2">@Html.DisplayFor(model => item.SubjectHoursPerWeek)</span>
            <span>
                @Html.ActionLink("Edit", "EditCourseFill", new { id = item.courseFillID }) |
                @Html.ActionLink("Delete", "DeleteCourseFill", new { id = item.courseFillID })
            </span>
        </div>
    </div>
}