@model IEnumerable<EIMS.Models.FacultyViewModel>
<h4>Faculties</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FacultyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @Html.Partial("FacultyList")
</table>
@Scripts.Render("FacultyInfinityScrolling.js")
