@model IEnumerable<EIMS.Models.FacultyViewModel>

@foreach (var item in Model)
{
    <div class="row" style="font-size:16px">
            @*<div class="col-md-2">@Html.DisplayFor(modelItem => item.FacultyID)</div>*@
            <div class="col-md-offset-1 col-md-2">@Html.DisplayFor(modelItem => item.Name)</div>
            <div class="col-md-4">
                @Html.ActionLink("Edit", "EditFaculty", new { id = item.FacultyID }) |
                @Html.ActionLink("Delete", "DeleteFaculty", new { id = item.FacultyID })
            </div>
    </div>
}