@model IEnumerable<EIMS.Models.FacultyViewModel>

@foreach (var item in Model)
{
    <div class="container">
        <div class="well">
            <span class="col-md-4">@Html.DisplayFor(modelItem => item.FacultyID)</span>
            <span class="col-md-4">@Html.DisplayFor(modelItem => item.Name)</span>
            <span>
                @Html.ActionLink("Edit", "EditFaculty", new { id = item.FacultyID }) |
                @Html.ActionLink("Delete", "DeleteFaculty", new { id = item.FacultyID })
            </span>
        </div>
    </div>
}